<%- model_class = Minicurso -%>
<div class="page-header">
  <h3>Minicursos</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Título</th>
      <th>Período</th>
      <th>Horário</tr>
      <% if can? :manage, @minicurso %>
	      <th>Ações</th>
	    <% end %>  
    </tr>
  </thead>
  <tbody>
  	<%# if @users.present? %>
  		<%# @users.each do |u| %>
  			<%#= u.name %><br />
  		<%# end %>
  	<%# end %>
    <% @minicursos.each do |minicurso| %>
      <tr>
        <td><%= link_to minicurso.title, minicurso_path(minicurso) %></td>
        <td><%= minicurso.date_ini.to_s %> a <%= minicurso.date_fim.to_s %></td>
        <td><%= minicurso.time_ini.to_s(:time) %> às <%= minicurso.time_fim.to_s(:time) %></td>
	      <% if can? :manage, @minicurso %>
		      <td>
		        <%= link_to 'Alterar',
		                    edit_minicurso_path(minicurso), :class => 'btn btn-mini' %>
		        <%= link_to 'Remover',
		                    minicurso_path(minicurso),
		                    :method => :delete,
		                    :data => { :confirm => 'Deseja realmente excluir?' },
		                    :class => 'btn btn-mini btn-danger' %>
		      </td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :manage, @minicurso %>
	<%= link_to 'Novo minicurso',
		          new_minicurso_path,
		          :class => 'btn btn-primary' %>
<% end %>
