<%- model_class = User -%>
<div class="page-header">
  <h3>#Inscritos</h3>
</div>
<%= render :partial => 'search' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Situação</th>
      <th>Data de inscrição</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.cpf %></td>
        <td><%= user.status ? "Confirmado" : "Aguardando confirmação" %></td>
        <td><%= user.created_at.to_formatted_s(:db) %></td>
        <td>
          <%= link_to 'Confirmar',
                      confirm_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to 'Alterar',
                      edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to 'Remover',
                      user_path(user),
                      :method => :delete,
                      :data => { :confirm => 'Deseja realmente excluir?' },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Nova inscrição",
            new_user_path,
            :class => 'btn btn-primary' %>
