<%= form_for @mesasredonda, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label 'Título', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Data', :class => 'control-label' %>
    <div class="controls">
	    <%= f.date_select :data, :class => 'date_select', :order => [:day, :month, :year], :prompt => { :day => 'Selecione o dia', :month => 'Selecione o mês', :year => 'Selecione o ano'}, :use_month_names => ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'] %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Cadastrar', :class => 'btn btn-primary' %>
    <%= link_to 'Cancelar',
                mesasredondas_path, :class => 'btn' %>
  </div>
<% end %>
