<%- model_class = Mesasredonda -%>
<div class="page-header">
  <h3>Mesas redondas</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Título</th>
      <th>Data</th>
      <% if can? :manage, @mesasredonda %>
      	<th>Ações</th>
      <% end %>	
    </tr>
  </thead>
  <tbody>
    <% @mesasredondas.each do |mesasredonda| %>
      <tr>
        <td><%= link_to mesasredonda.title, mesasredonda_path(mesasredonda) %></td>
        <td><%= mesasredonda.data.to_s %></td>
	      <% if can? :manage, @mesasredonda %>
		      <td>
		        <%= link_to 'Alterar',
		                    edit_mesasredonda_path(mesasredonda), :class => 'btn btn-mini' %>
		        <%= link_to 'Remover',
		                    mesasredonda_path(mesasredonda),
		                    :method => :delete,
		                    :data => { :confirm => 'Deseja realmente remover?' },
		                    :class => 'btn btn-mini btn-danger' %>
		      </td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if can? :manage, @mesasredonda %>
	<%= link_to 'Nova mesa redonda',
		          new_mesasredonda_path,
		          :class => 'btn btn-primary' %>
<% end %>
